.textarea {
	display: block;
	background-color: transparent;
	border: 0;
	box-shadow: 0 0 1px var(--menu-font-color) inset;
	resize: both;
}

.label-black .label {
	color: var(--menu-font-color);
}

.label-black .textarea {
	color: var(--menu-font-color);
	box-shadow: 0 0 1px var(--menu-font-color) inset;
}

.textarea.auto {
	width: 100%;
}
