.small .title3h {
	font-size: 1.4rem;
}

.medium .title3h {
	margin-bottom: 8px;
}

.large .title3h {
	margin-bottom: 16px;
	font-size: 2rem;
}

.title3h::after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(100% + 5px);
	bottom: 0;
	width: 80px;
	height: 1px;
	margin: auto;
	background-color: var(--foreground);
	color: var(--foreground);
}

.small .title3h::after {
	width: 60px;
}

.large .title3h::after {
	width: 100px;
}
