.inputrange {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	display: inline-block;
	background: #0670d4;
	border: 0;
	line-height: 1;
	height: 8px;
	border-radius: 8px;
}

.inputrange::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 14px;
	border-radius: 9999px;
	box-shadow: none;
}

input[type="range"].inputrange::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 9999px;
	border: 2px solid #0670d4;
	background-color: #fff;
	box-shadow: none;
}

/* input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  border: 1px solid #0670d4;
  background-color: #fff;
  box-shadow: none;
} */

input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 9999px;
	border: 2px solid #0670d4;
	background-color: #fff;
}
