@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--menu-bg-color: #ccc;
	--menu-icon-color: #fff;
	--menu-font-color: #333;
	--input-font-color: #333;
	--font-black: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--menu-bg-color: #fff;
		--menu-icon-color: #ccc;
		--menu-font-color: #333;
	}
}

html {
	font-size: 62.5%;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.link {
	color: var(--foreground);
	background-color: var(--background);
}

.link:hover {
	color: var(--background);
	background-color: var(--foreground);
}
