.input {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	display: inline-block;
	background: #fff;
	color: var(--input-font-color);
	border: 0;
	line-height: 1;
	box-shadow: 0 0 1px var(--foreground) inset;
}

.label-black .label {
	color: var(--font-black);
}

.label-black .input {
	box-shadow: 0 0 1px var(--font-black) inset;
}

.auto .input {
	width: 100%;
}

.label-dark .label {
	color: var(--input-font-color);
}

.label-dark .input {
	box-shadow: 0 0 1px var(--input-font-color) inset;
}
